body {
  background-color: #f7f7f7;
  font-family: Arial;
  text-align: center;
  margin: 0rem;
}

a {
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
}

img {
  max-width: 100%;
  grid-column: 2;
}

p {
  font-size: 1.25rem;
}

aside {
  margin: auto 2.5rem;
}

ul {
  padding: 2.5rem;
  margin: 0rem;
}

section {
  background-color: white;
}

li:hover {
  border-left: solid 0.25rem #ee2211;
}

li:nth-child(odd) {
  background-color: #f7f7f7;
}

.links-itens {
  background-color: white;
  padding: 0.9375rem 2.5rem;
  color: black;
  width: 3.75rem;
  margin: 0rem 0.625rem;
  cursor: pointer;
  border: solid 0.125rem white;
}

.links-itens:hover {
  border: solid 0.125rem;
  border-color: #ee2211;
  border-radius: 0.25rem;
}

.botao-vermelho {
  display: inline-block;
  background-color: #ee2211;
  color: white;
  padding: 0.9375rem 1.875rem;
  margin-top: 0.625rem;
}

.botao-vermelho:hover {
  background-color: #900;
}

.links {
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.itens {
  width: 62.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  margin-top: 3.75rem;
}

.caixa1 {
  background-color: white;
  padding: 3.125rem;
  text-align: right;
  position: relative;
}

.caixa2 {
  background-color: white;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  border-left: 4px solid transparent;
}

.texto-interno {
  text-align: left;
  margin-left: 1.25rem;
}

.subtitulo {
  background-image: url(../img/onda.svg);
  font-size: 4rem;
  text-align: right;
  color: #c6c6c6;
}

.rodape {
  background-color: white;
  display: grid;
  padding: 2.5rem;
  margin: 0rem;
  margin-top: 3.125rem;
}

.titulo {
  margin: 3.125rem;
}

.img-interna {
  margin-left: auto;
  margin-top: 1.25rem;
}

.detalhe::before {
  content: "";
  display: block;
  background-color: #ee2211;
  height: 0.25rem;
  width: 3.75rem;
  position: absolute;
  top: 30px;
  right: -30px;
}
