body {
  background-color: #f7f7f7;
  font-family: Arial;
  text-align: center;
  margin: 0px;
}

a {
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

img {
  max-width: 100%;
  grid-column: 2;
}

p {
  font-size: 20px;
}

span{
  display: block;
  background-color: #ee2211;
  height: 4px;
  width: 60px;
  position: relative;
  margin-left: auto;
  margin-right: -80px;
}

.links-itens {
  background-color: white;
  padding: 15px 40px;
  color: black;
  width: 60px;
  margin: 0px 10px;
}

.botao-vermelho {
  display: inline-block;
  background-color: #ee2211;
  color: white;
  padding: 15px 30px;
  margin-top: 10px;
}

.links {
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.itens {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  margin-top: 60px;
}

.caixa1 {
  background-color: white;
  padding: 50px;
  text-align: right;
}

.caixa2 {
  background-color: white;
  padding: 40px;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.texto-interno {
  text-align: left;
  margin-left: 20px;
}

.subtitulo {
  margin: auto 40px;
  font-size: 64px;
  text-align: right;
  color: #c6c6c6;
}

.rodape {
  background-color: white;
  display: grid;
  padding: 40px;
  margin: 0px;
  margin-top: 50px;
}

.titulo {
  margin: 50px;
}

.img-interna{
  margin-left: auto;
  margin-top: 20px;
}
