:root {
  --cor-background: #f7f7f7;
  --cor-background-secundaria: #fff;
  --cor-detalhes: #ee2211;
  --cor-hover-link: #900;
  --cor-subtitulo: #c6c6c6;
  --cor-texto: #000;
  --cor-texto-white: #fff;
  --onda: url(../img/onda-clara.svg);
}

/* @media(prefers-color-scheme: dark){
  :root{
    --cor-background: #111;
    --cor-background-secundaria: #000;
    --cor-subtitulo: rgba(255, 255, 255, 0.2);
    --cor-texto: #fff;
    --onda: url(../img/onda-escura.svg);
  }
} */

body {
  background-color: var(--cor-background);
  font-family: Arial;
  text-align: center;
  margin: 0rem;
  color: var(--cor-texto);
  transition: 0.6s;
}

main {
  margin-top: 3.75rem;
}

a {
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.25rem;
}

ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

.caixa2 {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
}

.caixa2:hover {
  border-left: solid 0.25rem var(--cor-detalhes);
}

.ul-caixa2 {
  padding: 2.5rem;
  background-color: var(--cor-background-secundaria);
}

.background-impares li:nth-child(odd) {
  background-color: var(--cor-background);
}

.textos1 h1 {
  font-size: 2rem;
}

.titulo {
  margin: 3.125rem;
}

.links {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.links-itens {
  background-color: var(--cor-background-secundaria);
  padding: 0.9375rem 2.5rem;
  color: var(--cor-texto);
  width: 3.75rem;
  margin: 0rem 0.625rem;
  cursor: pointer;
  border: solid 0.125rem var(--cor-background-secundaria);
}

.links-itens:hover {
  border: solid 0.125rem;
  border-color: var(--cor-detalhes);
  border-radius: 0.25rem;
}

.botao-vermelho {
  display: inline-block;
  background-color: var(--cor-detalhes);
  color: var(--cor-texto-white);
  padding: 0.9375rem 1.875rem;
  margin-top: 0.625rem;
}

.botao-vermelho:hover {
  background-color: var(--cor-hover-link);
}

.itens {
  width: 62.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.caixa1 {
  background-color: var(--cor-background-secundaria);
  padding: 3.125rem;
  text-align: right;
  position: relative;
}

.texto-interno {
  text-align: left;
  margin-left: 1.25rem;
}

.img-interna {
  margin-left: auto;
  margin-top: 1.25rem;
}

.subtitulo {
  font-size: 4rem;
  text-align: right;
  align-self: center;
  margin: 0;
  padding: 40px;
  color: var(--cor-subtitulo);
  background-image: var(--onda);
}

.rodape {
  background-color: var(--cor-background-secundaria);
  display: grid;
  padding: 2.5rem;
  margin: 0rem;
  margin-top: 3.125rem;
}

.detalhe::before {
  content: "";
  display: block;
  background-color: var(--cor-detalhes);
  height: 0.25rem;
  width: 3.75rem;
  position: absolute;
  top: 30px;
  right: -30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 25px;
  left: 425px;
  bottom: 46px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--cor-detalhes);
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode {
  --cor-background: #111;
  --cor-background-secundaria: #000;
  --cor-subtitulo: rgba(255, 255, 255, 0.2);
  --cor-texto: #fff;
  --onda: url(../img/onda-escura.svg);
}

@media (min-width: 23.375rem) and (max-width: 90rem) {
  .itens {
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
  }
  .detalhe {
    display: none;
  }
  .vantagens {
    margin: 0rem;
  }
  .subtitulo {
    font-size: 3.4375rem;
    text-align: center;
  }
  .ul-caixa2 {
    padding: 1.875rem;
  }
  .caixa1 {
    text-align: left;
  }
  .titulo {
    margin: 2.5rem;
  }
  .rodape {
    margin-top: 1.875rem;
    padding: 1.875rem;
  }
  .links {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.125rem 0rem;
  }
  .caixa1 {
    padding: 1.875rem;
  }
}
